.btn-primary {
    background-color: $color-front;
    border-color: $color-blue;
    outline: none;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus,
    &[disabled] {
        background-color: $color-back !important;
        border-color: $color-divide !important;
        outline: none !important;
        box-shadow: none !important;
    }

    &[disabled] {
        color: $color-grey;
    }
}