@font-face {
    font-family: 'Muli';
    font-weight: 400;
    src: url('../font/Muli-Light.ttf') type('truetype');
}

@font-face {
    font-family: 'Muli';
    font-weight: 500;
    src: url('../font/Muli-SemiBold.ttf') type('truetype');
}

@font-face {
    font-family: 'Muli';
    font-weight: 600;
    src: url('../font/Muli-Bold.ttf') type('truetype');
}